#loadingMonsters {
    margin-left: 10px;
    margin-right: 10px;
}

.monsterSelectionButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 15px;
    background-color: white; /* Green */
    border: none;
    color: black;
}

@media screen and (max-width: 800px) {
    #loadingMonsters {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #monsterListImportLabel {
        display: block;
        text-align: center;
    }

    #monsterSelection {
        text-align: center;
    }

    #monsterListImport {
        width: 180px;
        margin-right: 20px;
        text-align: center;
    }

    .monsterSelectionButton {
        width: 80px;
        height: 20px;

        /*margin: 10px;*/
        margin-left: 10px;
        margin-right: 10px;

        margin-top: 15px;
        margin-bottom: 15px;
    }
        
}

@media screen and (min-width: 801px) {
    #loadingMonsterPhoneBreak {
        display: none;
    }

    #loadingMonsters {
        text-align: center;
    }

    #monsterListImport {
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }

    #monsterListImportLabel, #monsterListImport {
        display: block;
    }

    .monsterSelectionButton {
        width: 100px;
        height: 20px;

        /*margin: 10px;*/
        margin-left: 10px;
        margin-right: 10px;

        margin-top: 15px;
        margin-bottom: 15px;
    }

}