form {
    text-align: center;
}

p {
    font-size: 24px;
    margin-bottom: 0px;
}


ul {
    margin: 10px;
    margin-bottom: auto;
    margin-top: auto;
    vertical-align: auto;
}


li {
    display: inline;
    font-size: 16px;
    padding: 5px;
    
}