#combatRatingSelectionForm {
    text-align: center;
}

#combatRatingSuggestionResults p {
    font-size: 24px;
    margin-bottom: 0px;
    text-decoration: underline;
}


.combatRatingForm {
    margin: 10px;
    margin-bottom: auto;
    margin-top: auto;
    vertical-align: auto;
    text-align: left;
    
}


.combatRatingListItem {
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

#combatRatingSuggestionResultsContainer {
    margin:auto; /*Centers the box*/
}

#combatRatingSuggestionResults {
    border: 2px solid white; /*Adds a border to*/
}

.combatRatingForm {
    padding: 0;
}

.combatRatingSubmit{
    border-radius: 15px;
    background-color: white; 
    border: none;
    color: black;

    
}

/*Css for when the view page is smaller or equal to 800px*/
@media screen and (max-width: 800px) {
    #combatRatingSelectionContainer {
        padding-top: 70px;
        margin-left: 20px;
        margin-right: 20px;
        
    }

    .combatRatingSubmit {
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;

        margin: 2.5px;
    }

    #combatRatingSuggestionResultsContainer {
        width: 90%; /*Sets max with to be 90% of the page*/
    }

    #combatRatingSelectionLabel {
        margin: 2.5px;
    }

    #combatRatingSelection {
        width: 170px;
        margin: 2.5px;
    }

    #combatRatingSuggestionResults p {
        margin-top: 10px;
    }

    #combatRatingSuggestionResults p {
        font-size: 22px;
    }

    .combatRatingForm{
        text-align: center;
    }

    .combatRatingListItem {
        display: inline-block;
        font-size: 15px;
    }
}

/*Css for when the view page is larger than 800px*/
@media screen and (min-width: 801px) {
    form {
        padding-top: 100px;
    }

    #combatRatingSuggestionResultsContainer {
        width: 42%; /*Sets max with to be 90% of the page*/
    }

    #combatRatingSelectionLabel {
        margin: 2.5px;
    }

    #combatRatingSelection {
        width: 170px;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .combatRatingSubmit {
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;

        margin: 2.5px;
    }

    .combatRatingSuggestionResults {
        margin-bottom: 20px;
    }

    #combatRatingSuggestionResults p {
        margin-top: 10px;
        font-size: 22px;
    }

    .combatRatingForm {
        /*margin-left: 5px;
        margin-right: 5px;
        padding-left: 20px;
        padding-right: 20px;*/
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .combatRatingListItem {
        display: inline-block;
        /*font-size: 20px;*/
    }
}