#loginForm {
    position: fixed;
}

#loginForm {
    text-align: center;
    width:100%;
    left: 0%;
    right: 0%;
    background-color: #929292;
}

@media screen and (max-width: 800px) {
    #loginForm {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #loginForm button {
        width: 85px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 801px) {
    #loginForm {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #loginForm button {
        width: 100px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        font-weight: bold;
    }

    
    #loginButtons {
        text-align: left;
        width: 45%;
    }

    #currentUsername {
        display: inline;
        text-align: right;
    }

    #loginForm p {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        color: black;
    }

}