
.App {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    /*text-align: center;*/
    /*line-height: 1.5;*/
    background-color: #383838;
    /*background-image: url(./DndSightBackground.png);
    background-size: 100%;*/
}

.monsterInfoContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

@media screen and (max-width: 800px) {

    .monsterInfoContainer {
        width: 90%;
    }
    
}

@media screen and (min-width: 801px) and (max-width: 1150px) {
    .monsterInfoContainer {
        margin-top: 30px;
    }

    .monsterInfoContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        text-align: center;
    }
}

@media screen and (min-width: 1151px) {
    .monsterInfoContainer {
        margin-top: 30px;
    }
    
}

