.baseMonsterInfo {
    outline: 1px solid black;
    background-color: #aaa;
    height: 400px;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .baseMonsterInfo {
        margin-left: 10%; 
        margin-right: 10%
    }
    
}

@media screen and (min-width: 801px) {
    .baseMonsterInfo {
        display: inline-block;
        width: 35%
        
    }
    
}

/*#movesForm {
    visibility: hidden;
}*/
