.baseMonsterInfo {
    outline: 1px solid black;
    background-color: #aaa;
    margin: 0;
    vertical-align: top;
}

#baseStatsForm {
    background-color: #aaa;
}

.baseStatsButton {
    border-radius: 15px;

    background-color: #383838; /* Green */
    border: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .baseMonsterInfo {
        margin-left: 2.5%; 
        margin-right: 2.5%
    }

    #baseMonsterInfo button {
        width: 140px;
        height: 25px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        text-decoration: bold;
    }

    #baseStatsForm {
        text-align: center;
    }

    #form {
        text-align: center;
        padding: 0;
    }

    #inputContainer {
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2px;
        margin-bottom: 5px;
    }

    .monsterStatsInput {
        width: 100%;
    }

    #inputLabel {
        display: Block;
        text-align: left;
        color: black;
        font-size: 18px;
    }

    #baseStatsForm {
        margin-bottom: 10px;
    }
    
}

@media screen and (min-width: 801px) and (max-width: 1150px) {
    .baseMonsterInfo {
        display: inline-block;
        width: 45%;
        margin-left: 10px;
        margin-right: 10px;        
    }

    #baseMonsterInfo button {
        width: 140px;
        height: 25px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        text-decoration: bold;
    }

    #baseStatsForm {
        text-align: left;
    }

    #form {
        text-align: left;
        padding: 0;
    }

    #inputContainer {
        display: inline-block;
        text-align: left;
        width: 40%;
        margin-left: 30px;
        padding-bottom: 2px;
        margin-bottom: 5px;
        border-bottom: 2px solid black;
    }

    #inputLabel {
        display: Block;
        text-align: left;
        color: black;
        font-size: 18px;
    }
}

@media screen and (min-width: 1151px) {
    .baseMonsterInfo {
        display: inline-block;
        width: 40%;
        margin-left: 45px;
        margin-right: 45px;
        
    }

    #baseStatsForm {
        text-align: left;
    }

    #form {
        text-align: left;
        padding: 0;
    }

    #inputContainer {
        display: inline-block;
        text-align: left;
        width: 40%;
        margin-left: 30px;
        padding-bottom: 2px;
        margin-bottom: 5px;
        border-bottom: 2px solid black;
    }

    #inputLabel {
        display: Block;
        text-align: left;
        color: black;
        font-size: 18px;
    }

    .baseMonsterInfoButtonContainer {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid #383838;
    }

    .baseStatsButton {
        font-size: 16px;
        width: 180px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: bold;
    }


    
}

/*#movesForm {
    visibility: hidden;
}*/
